body {
  background-color: #110;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.board {
  padding: 0;
  float: left;
  position: relative;
  z-index: 0;
  user-select: none;
}

.board-img {
  position: absolute;
  height: 100%;
  user-select: none;
}

.fullMarker {
  display: inline-block;
  background-color: black;
  position: absolute;
  border-radius: 20%;
}

.upgrade-action {
  position: absolute;
}


@keyframes pulse {
  from { background-color: rgba(255,255,255,0);   color: #000; }
  to   { background-color: rgba(0,0,0,0.5);       color: #fff; }
}

.question {
  box-shadow: 0 0 2px 2px;
  cursor: pointer;
  /* color: #603 !important; */
  /*color: #930 !important; */
  color: white !important;
/*
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.question.new {
  background-color: rgba(0,0,0,0.2);
}

.question.new:hover {
  background-color: rgba(0,0,0,0);
}

.question:hover {
  box-shadow: 0 0 4px 4px;
}



/* -------------------------------------------------------------------------- */
.bonus {
  z-index: 5;
  position: relative;
  display: inline-block;
  border-radius: 100%;
}

.question.bonus {
  opacity: 0.85;
}

.bonus:hover {
  transform: scale(2);
  z-index: 7;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

.question.worker.empty {
  background-color: rgba(0,0,0,0);
}

.worker {
  z-index: 5;
  position: relative;
  border: solid black;
  text-align: center;
  display: inline-block;
}


.cube {
  border-radius: 15%;
}

.disc {
  border-radius: 100%;
}

/* -------------------------------------------------------------------------- */

.player {
  user-select: none;
  display: inline-block;
  padding: 0;
  margin: 1em;
  background-color: rgba(0,0,0,0);
  position: relative;
}

.player-board {
  height: 100%;
}

.player-label {
  border-radius: 3px;
  border: 1px solid black;
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: black;
  position: absolute;
  right: 0;
  top: -0.5ex;
}

.player-active {
  box-shadow: 0 0 2px 2px #fff;
}

.player-active-box {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  color: black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  padding-right: 0.2em;
  border-top-right-radius: 5px;
}

.player-bar {
  background-color: rgba(50,25,0,0.95);
  width: 80%;
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.blue   { background-color: #06f; color: #fff; }
.red    { background-color: #903; color: #fff; }
.yellow { background-color: #fc3; color: #000; }
.green  { background-color: #8b3; color: #000; }
.purple { background-color: #939; color: #fff; }


.bonus-multiplier {
  position:absolute;
  z-index: 6;
  color: #999;
  background-color: rgba(0,0,0,0.5);
  left: 0px;
  bottom: 0px;
  font-style: italic;
}

.bonus-spent {
  display: inline-block;
  position: absolute;
  z-index: 1;
  color: #fff;
  background-image: url('img/token/back.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.bonus-spent span {
  color: #999;
  background-color: rgba(0,0,0,0.7);
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 10px;
}

.player-sep {
  display: inline-block;
}

.player-box {
  position: relative;
  display: inline-box;
  text-align: center;
  z-index: 5;
}

.player-preference {
  position: absolute;
  display: inline-block;
  z-index: 7;
}
.player-preference img {
  transform: rotate(180deg);
}

.player-help {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border: 1px solid black;
}

.tooltip {
  position: absolute;
  right: -20;
  top: 20;
  display: none;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 2px;
  white-space: nowrap;
  padding-right: 0.2em;
  padding-left: 0.2em;
  z-index: 11;
}

/* -------- Turn */
.turn {
  left: 0;
  top: 0;
  font-size: smaller;
  z-index: 1;
  padding-left: 1em;
  padding-right: 1em;
  position: absolute;
  border-radius: 0.3em;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  color: black;
}

.turn-group {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.turn-label {
  font-style: italic;
}

.turn-player {
  border: 1px solid black;
  border-radius: 0.3em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

