body {
  background-color: #110;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.board {
  padding: 0;
  float: left;
  position: relative;
  z-index: 0;
  user-select: none;
}

.board-img {
  position: absolute;
  height: 100%;
  user-select: none;
}

.fullMarker {
  display: inline-block;
  background-color: black;
  position: absolute;
  border-radius: 20%;
}

.blank { background-color: rgba(0,0,0,0); }

.high {
  box-shadow: 0 0 4px 4px #fff;
  cursor: pointer;
}



/* -------------------------------------------------------------------------- */
.bonus {
  z-index: 5;
  position: relative;
  display: inline-block;
  border-radius: 100%;
}
.bonus:hover {
  transform: scale(2);
  z-index: 7;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

.worker {
  z-index: 5;
  position: relative;
  border: solid black;
  text-align: center;
  display: inline-block;
}


.cube {
  border-radius: 15%;
}

.disc {
  border-radius: 100%;
}

/* -------------------------------------------------------------------------- */

.player {
  user-select: none;
  display: inline-block;
  padding: 0;
  margin: 1em;
  background-color: rgba(0,0,0,0);
  position: relative;
}

.player-board {
  height: 100%;
}

.player-bar {
  background-color: rgba(50,25,0,0.95);
  width: 80%;
  z-index: 1;
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}


.empty  { background-color: rgba(0,0,0,0); color: #fff; }
.blue   { background-color: #06f; color: #fff; }
.red    { background-color: #c03; color: #fff; }
.yellow { background-color: #fc3; color: #000; }
.green  { background-color: #6c3; color: #000; }
.purple { background-color: #939; color: #fff; }


.bonus-multiplier {
  position:absolute;
  z-index: 6;
  color: #999;
  background-color: rgba(0,0,0,0.5);
  left: 0px;
  bottom: 0px;
  font-style: italic;
}

.bonus-spent {
  display: inline-block;
  position: absolute;
  z-index: 1;
  color: #fff;
  background-image: url('img/token/back.png');
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.bonus-spent span {
  color: #999;
  background-color: rgba(0,0,0,0.7);
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 10px;
}

.player-sep {
  display: inline-block;
}

.player-box {
  position: relative;
  display: inline-box;
  text-align: center;
  z-index: 5;
}

